n8n/jma_weather_alert_workflow.json
{
    "name": "JMA Weather Alert Sync",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "minutes",
                            "minutesInterval": 30
                        }
                    ]
                }
            },
            "id": "schedule-trigger",
            "name": "Every 30 Minutes",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                0,
                0
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "https://www.jma.go.jp/bosai/warning/data/warning/130000.json",
                "options": {
                    "response": {
                        "response": {
                            "responseFormat": "json"
                        }
                    }
                }
            },
            "id": "http-jma",
            "name": "Fetch JMA Tokyo Alerts",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                220,
                0
            ]
        },
        {
            "parameters": {
                "jsCode": "// Parse JMA Weather Alerts for Tokyo Region\nconst data = $input.first().json;\nconst alerts = [];\n\n// Severity mapping\nconst severityMap = {\n  '注意報': 'advisory',\n  '警報': 'warning',\n  '特別警報': 'emergency'\n};\n\n// Alert type mapping\nconst alertTypeMap = {\n  '大雪': 'heavy_snow',\n  '暴風雪': 'blizzard',\n  '大雨': 'heavy_rain',\n  '暴風': 'storm',\n  '洪水': 'flood',\n  '高潮': 'storm_surge',\n  '波浪': 'high_waves',\n  '雷': 'thunder',\n  '濃霧': 'dense_fog',\n  '乾燥': 'dry_air',\n  '低温': 'low_temp',\n  '霜': 'frost',\n  '着氷': 'icing',\n  '着雪': 'snow_accretion',\n  '地震': 'earthquake'\n};\n\nif (data?.areaTypes) {\n  for (const areaType of data.areaTypes) {\n    for (const area of (areaType.areas || [])) {\n      for (const warning of (area.warnings || [])) {\n        if (warning.status !== '発表') continue;\n        \n        const alertCode = warning.code || '';\n        const alertType = alertTypeMap[alertCode] || 'other';\n        const kindName = warning.kind?.name || '注意報';\n        const severity = severityMap[kindName] || 'advisory';\n        \n        alerts.push({\n          alert_type: alertType,\n          severity: severity,\n          affected_regions: [area.code, 'tokyo'],\n          title: `${kindName}: ${alertCode}`,\n          subtitle: `${severity.toUpperCase()}: ${alertType.replace('_', ' ')}`,\n          content: {\n            ja: warning.text || '詳細情報は気象庁ウェブサイトをご確認ください。',\n            en: warning.text || 'Please check JMA website for details.',\n            zh: warning.text || '請查看氣象廳網站以獲取詳細資訊。'\n          },\n          region: 'tokyo',\n          source: 'jma',\n          valid_from: new Date().toISOString(),\n          valid_until: null,\n          data_type: 'jma_alert',\n          timestamp: new Date().toISOString()\n        });\n      }\n    }\n  }\n}\n\n// If no alerts found, create a \"no alerts\" log entry\nif (alerts.length === 0) {\n  return [{ json: { log: 'No active alerts from JMA', timestamp: new Date().toISOString() } }];\n}\n\nreturn alerts.map(a => ({ json: a }));"
            },
            "id": "code-parse",
            "name": "Parse JMA Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                440,
                0
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "leftValue": "={{ $json.alert_type }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "exists"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "id": "filter-valid",
            "name": "Filter Valid Alerts",
            "type": "n8n-nodes-base.filter",
            "typeVersion": 2,
            "position": [
                660,
                0
            ]
        },
        {
            "parameters": {
                "operation": "upsert",
                "tableId": "weather_alerts",
                "conflictType": "noRefresh",
                "dataToSend": "defineBelow",
                "fieldsToSend": {
                    "values": [
                        {
                            "fieldName": "alert_type",
                            "fieldValue": "={{ $json.alert_type }}"
                        },
                        {
                            "fieldName": "severity",
                            "fieldValue": "={{ $json.severity }}"
                        },
                        {
                            "fieldName": "affected_regions",
                            "fieldValue": "={{ $json.affected_regions }}"
                        },
                        {
                            "fieldName": "title",
                            "fieldValue": "={{ $json.title }}"
                        },
                        {
                            "fieldName": "subtitle",
                            "fieldValue": "={{ $json.subtitle }}"
                        },
                        {
                            "fieldName": "content",
                            "fieldValue": "={{ $json.content }}"
                        },
                        {
                            "fieldName": "region",
                            "fieldValue": "={{ $json.region }}"
                        },
                        {
                            "fieldName": "source",
                            "fieldValue": "={{ $json.source }}"
                        },
                        {
                            "fieldName": "valid_from",
                            "fieldValue": "={{ $json.valid_from }}"
                        },
                        {
                            "fieldName": "valid_until",
                            "fieldValue": "={{ $json.valid_until }}"
                        },
                        {
                            "fieldName": "data_type",
                            "fieldValue": "={{ $json.data_type }}"
                        },
                        {
                            "fieldName": "timestamp",
                            "fieldValue": "={{ $json.timestamp }}"
                        }
                    ]
                }
            },
            "id": "supabase-upsert",
            "name": "Upsert to Supabase",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                880,
                0
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "YOUR_SUPABASE_CREDENTIAL_ID",
                    "name": "Supabase (lutagu-mvp)"
                }
            }
        }
    ],
    "connections": {
        "Every 30 Minutes": {
            "main": [
                [
                    {
                        "node": "Fetch JMA Tokyo Alerts",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch JMA Tokyo Alerts": {
            "main": [
                [
                    {
                        "node": "Parse JMA Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse JMA Response": {
            "main": [
                [
                    {
                        "node": "Filter Valid Alerts",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filter Valid Alerts": {
            "main": [
                [
                    {
                        "node": "Upsert to Supabase",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [
        {
            "name": "weather",
            "createdAt": "2026-01-19T15:00:00.000Z",
            "updatedAt": "2026-01-19T15:00:00.000Z"
        }
    ],
    "triggerCount": 0,
    "updatedAt": "2026-01-19T15:20:00.000Z",
    "versionId": "1"
}