n8n/lutagu_L2_Hybrid_Workflow.json
{
  "name": "BambiGO_L2_Hybrid_Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "id": "trigger",
      "name": "Every 2 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        400
      ]
    },
    {
      "parameters": {
        "url": "https://api.odpt.org/api/v4/odpt:TrainInformation",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "options": {}
      },
      "id": "odpt-metro",
      "name": "ODPT Metro/Toei",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        450,
        250
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "S6HASAN4C4sZUV3c",
          "name": "ODPT API Key"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api-challenge.odpt.org/api/v4/odpt:TrainInformation?odpt:operator=odpt.Operator:JR-East&acl:consumerKey=cned75kfykj8zgzggi9b5w98hxxhk57hz8k30w1iq5dqwgzje0otmwodvogurrd3",
        "options": {}
      },
      "id": "odpt-jr",
      "name": "ODPT JR East",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        450,
        400
      ]
    },
    {
      "parameters": {
        "url": "https://transit.yahoo.co.jp/diainfo/area/4",
        "options": {
          "response": {
            "response": {
              "responseFormat": "string"
            }
          }
        }
      },
      "id": "yahoo-kanto",
      "name": "Yahoo Japan Kanto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        450,
        550
      ]
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "lines",
              "cssSelector": "div.mdServiceStatus table tr",
              "returnValue": "html",
              "multiple": true
            }
          ]
        },
        "options": {}
      },
      "id": "parse-yahoo",
      "name": "Parse Yahoo HTML",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1,
      "position": [
        650,
        550
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const lines = item.json.lines;\n  if (!lines) continue;\n\n  for (const html of lines) {\n    const nameMatch = html.match(/<a[^>]*>([^<]+)<\\/a>/);\n    if (nameMatch) {\n      const name = nameMatch[1];\n      let status = \"平常運転\";\n      let detail = \"\";\n      \n      if (html.includes('trouble')) {\n        const tdExp = html.match(/<td class=\"exp\">([^<]+)<\\/td>/);\n        status = \"遅延・運休\";\n        detail = tdExp ? tdExp[1] : \"\";\n      }\n\n      if (status !== \"平常運転\") {\n        results.push({\n          json: {\n            id: `yahoo:${name}`,\n            source: 'Yahoo',\n            railway: name,\n            status: status,\n            message: detail,\n            updated_at: new Date().toISOString()\n          }\n        });\n      }\n    }\n  }\n}\nreturn results;"
      },
      "id": "yahoo-transform",
      "name": "Yahoo Transform",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        850,
        550
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n  if (Array.isArray(data)) {\n    for (const alert of data) {\n      results.push({\n        json: {\n          id: alert['owl:sameAs'],\n          source: 'ODPT',\n          operator: alert['odpt:operator'],\n          railway: alert['odpt:railway'],\n          status: alert['odpt:trainInformationStatus']?.ja || 'Unknown',\n          message: alert['odpt:trainInformationText']?.ja || '',\n          updated_at: alert['dc:date']\n        }\n      });\n    }\n  }\n}\nreturn results;"
      },
      "id": "odpt-transform",
      "name": "ODPT Transform",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        850,
        320
      ]
    },
    {
      "parameters": {},
      "id": "merge",
      "name": "Merge All Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1100,
        400
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "transit_alerts",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "status",
              "fieldValue": "={{ $json.status }}"
            },
            {
              "fieldName": "text_ja",
              "fieldValue": "={{ $json.message }}"
            },
            {
              "fieldName": "updated_at",
              "fieldValue": "={{ $json.updated_at }}"
            }
          ]
        }
      },
      "id": "supabase-upsert",
      "name": "Supabase Upsert",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1300,
        400
      ],
      "credentials": {
        "supabaseApi": {
          "id": "tr98FxNNbtQaoZ5V",
          "name": "Supabase account"
        }
      }
    }
  ],
  "connections": {
    "Every 2 Minutes": {
      "main": [
        [
          { "node": "ODPT Metro/Toei", "type": "main", "index": 0 },
          { "node": "ODPT JR East", "type": "main", "index": 0 },
          { "node": "Yahoo Japan Kanto", "type": "main", "index": 0 }
        ]
      ]
    },
    "ODPT Metro/Toei": {
      "main": [
        [ { "node": "ODPT Transform", "type": "main", "index": 0 } ]
      ]
    },
    "ODPT JR East": {
      "main": [
        [ { "node": "ODPT Transform", "type": "main", "index": 0 } ]
      ]
    },
    "Yahoo Japan Kanto": {
      "main": [
        [ { "node": "Parse Yahoo HTML", "type": "main", "index": 0 } ]
      ]
    },
    "Parse Yahoo HTML": {
      "main": [
        [ { "node": "Yahoo Transform", "type": "main", "index": 0 } ]
      ]
    },
    "ODPT Transform": {
      "main": [
        [ { "node": "Merge All Sources", "type": "main", "index": 0 } ]
      ]
    },
    "Yahoo Transform": {
      "main": [
        [ { "node": "Merge All Sources", "type": "main", "index": 1 } ]
      ]
    },
    "Merge All Sources": {
      "main": [
        [ { "node": "Supabase Upsert", "type": "main", "index": 0 } ]
      ]
    }
  }
}